<!-- <mat-card class="order-card">
    <mat-card-header>
        <mat-card-title>{{order_id}}</mat-card-title>
        <mat-card-title>{{items_list[0]}}</mat-card-title>
        <mat-card-subtitle>
            <order-item *ngFor="let item of items_list">
                <p>{{ item['id'] }}</p>
            </order-item>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card> -->

<div id="order-card" class=".order-card">
    <!-- <span>{{order_id}}</span> -->
    <!-- <span>{{logEm()}}</span> -->
    <br>
    <span>{{items_list.length}}</span>
    <div>
        <!-- <order-item *ngFor="let i of items_list">
            <span>{{ items_list.indexOf(i) }}</span>
        </order-item> -->
    </div>
</div>
