<div *ngIf="inPaymentMode" class="paymentOverlay">
    <!-- black overlay with text "present your card"-->
    <h1 style="text-align: center; font-size: 100px; width: 100%;">Please present your card</h1>
</div>

<div class="mainBody">
    <div class="items">
        <h1>Select your product</h1>
        <div class="grid">
            <app-item *ngFor="let item of items" [price]="item.price" [name]="item.name" [image]="item.image" (click)="addToCart(item)"></app-item>
        </div>
    </div>
    <div class="cart">
        <h1>Your cart</h1>
        <!-- <cart-item *ngFor="let item of cartItems" [price]="item.price" [name]="item.name"></cart-item> -->
        <cart-item *ngFor="let item of cartItems" [price]="item.price" [name]="item.name" [quantity]="item.quantity"></cart-item>

        <div class="buttons">
            <mat-card>
                <span>Subtotal: ${{priceBeforeTax}}</span>
                <br>
                <span>Tax: ${{taxTotal}} ({{taxPercent * 100}}%)</span>
                <br>
                <span>Grand Total: ${{priceAfterTax}}</span>
            </mat-card>
            <button mat-raised-button color="primary" (click)="submitToBackend()">Submit</button>
            <button mat-raised-button color="accent" (click)="clearCart()">Clear</button>
        </div>
    </div>
</div>