<div class="mainBody">
  <h1>KITCHEN</h1>
  <!-- <div><p>{{temp}}</p></div> -->
  <!-- <order-item *ngFor="let order of ordersInProgress" [order_id]="order.order_id" [items_list]="order.items_list"></order-item> -->
  <div *ngFor="let order of ordersInProgress" class="order-c">
    <div><span>{{ order.order_id }}</span></div>
    <br>
    <div *ngFor="let item of order.items_list; let i = index" class="items-list">
      <span>{{ item.name }}:</span>
      <span>{{ item.quantity }}</span>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="markAsCompleted()">Mark as Completed</button>
    </div>
  </div>
